<div class="contents-item" nz-row>
  <div nz-col nzSpan="2">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a currency" [(ngModel)]="selectedCurrency" (ngModelChange)="onCurrencyChange($event)">
      <nz-option *ngFor="let option of currencyNames" [nzLabel]="option" [nzValue]="option"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="3">
    <nz-date-picker [nzDisabledDate]="disabledFutureDates" [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)"></nz-date-picker>
  </div>
</div>
<div class="contents-item" nz-row>
  <div *ngIf="currentRate">
    <p> The exchange rate is shown on {{ currentRate.date | date:'longDate' }} </p>
    <p><strong>{{ currentRate.amount }} </strong> CZK is equal to <strong>{{ currentRate.rate }}</strong> {{ currentRate.name }} </p>
  </div>
</div>
